@media print {
    body * {
      visibility: hidden;
    }
    .print-only, .print-only * {
      visibility: visible;
    }
  }

.test-item--page-break    
{border:2px dashed red; margin-bottom:16px; color:red;}